<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">    
 <ui:composition>
        <div class="panel daily-tab-content">
            <div class="panel-heading">
                <h3>Daily Entries.</h3>
                
            </div>
            <div class="panel-body">
                <div id="period-panel" class="sub-panel panel">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Intra-ocular pressure</label>
	        					<div class="col-sm-6 input-group">
	        						<input class="form-control" type="text" v-model="iop" name="iop" placeholder="Enter subject's IOP"/>
	        						<span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
	        					</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Weight</label>
                                <div class="col-sm-6 input-group">
                                    <input class="form-control" type="text" v-model="iop" name="iop" placeholder="Enter subject's weight in kg"/>
                                    <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
               
            </div>
        </div>
 </ui:composition>
</html>