.form, .form-horizontal,
a.btn, button, input, input[type="submit"], input[type="text"], input[type="password"],
 .alert,.alert-warning, .btn, input, .btn-success, .btn-danger, .btn-info, .form-control, .panel, .list-group, .list-group-item{
    border-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

a.btn, button, input, input[type="submit"], .btn, .btn-success, .btn-danger, .btn-info{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.sm-value{
  max-width: 70px;
  max-height: 25px;
}

.panel-heading {
    color: white;
    background: transparent;
    padding: 5px;
    h3{
        margin-bottom: 10px;
        margin-top:10px;
    }
    p{
        margin: 0px;
    }
}
.panel-body{
    padding: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.alert{
  margin: 0px;
}

.inline-flex-item {
	  margin-left: 5px ;
	  margin-right: 5px;
}

.content{
  height: 100%;
}

.center-content{
 // max-width: 200px;
  //max-height: 200px;
  transform: translate(-50%, -25%);
  position: absolute;
  top: 25%;
  left: 50%;
}

.animated{
  -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

* {
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }