.form, .form-horizontal,
a.btn, button, input, input[type="submit"], input[type="text"], input[type="password"],
 .alert,.alert-warning, .btn, input, .btn-success, .btn-danger, .btn-info, .form-control, .panel, .list-group, .list-group-item{
    border-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.alert{
  margin: 0px;
}

.inline-flex-item{
	  margin-left: 5px ;
	  margin-right: 5px;
}

.animated{
  -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

* {
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }