@import 'all.scss';

.navbar{
    margin:0px;
}
body{
    width:100%;
    height: 100%;
    background: url("/CourseProject/faces/javax.faces.resource/img/grey-prism.svg");

    .content {
        position: relative;
        height: auto;
        width: 100%;
        padding: 0px;
           
        
        .backdrop {
            position: absolute;
            width: 100%;
            height: 5em;
            background: linear-gradient(#18c52d 0%, #12b323 100%);
            z-index: 0;
            left: 0px;
            top: 0px;
        }

        .dash-content{
            top: 5em;
            margin-left: auto;
            margin-right: auto;
            height:auto;
            position: relative;

            #admin-tabs{
                background: white;
                height: auto;
                width: 100%;
                padding: 0px;

                .tab-content {
                    color : white;
                      background-color: #428bca;
                      padding : 5px 15px;
                }

                /* remove border radius for the tab */
                .nav-pills > li > a {
                  border-radius: 0;
                }
            }
        }
 
    }

    .page-header{
        margin: 0px;
        border-bottom: 0px;
        color: white;
    }
}