.form, .form-horizontal,
a.btn, button, input, input[type="submit"], input[type="text"], input[type="password"],
.alert, .alert-warning, .btn, input, .btn-success, .btn-danger, .btn-info, .form-control, .panel, .list-group, .list-group-item {
  border-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; }

.sm-value {
  max-width: 70px;
  max-height: 25px; }

.alert {
  margin: 0px; }

.inline-flex-item {
  margin-left: 5px;
  margin-right: 5px; }

.content {
  height: 100%; }

.center-content {
  transform: translate(-50%, -25%);
  position: absolute;
  top: 25%;
  left: 50%; }

.animated {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

* {
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

.navbar {
  margin: 0px; }

body {
  width: 100%;
  height: 100%;
  background: url("/CourseProject/faces/javax.faces.resource/img/grey-prism.svg"); }
  body .content {
    position: relative;
    width: 100%; }
    body .content .backdrop {
      position: absolute;
      width: 100%;
      height: 200px;
      background: #18c52d;
      z-index: 0; }
    body .content .panel.technician-content {
      background: white;
      top: 5em;
      position: relative; }
      body .content .panel.technician-content .panel-body {
        padding: 0px; }
      body .content .panel.technician-content .daily-tab-content.panel-body {
        padding: 5px; }
      body .content .panel.technician-content .container {
        position: relative;
        z-index: 1; }
      body .content .panel.technician-content #tech-tabs.container-fluid {
        background: white;
        height: auto;
        width: 100%;
        padding: 0px;
        position: relative;
        /* remove border radius for the tab */ }
        body .content .panel.technician-content #tech-tabs.container-fluid .nav-pills > li > a {
          border-radius: 0; }
        body .content .panel.technician-content #tech-tabs.container-fluid .nav-pills > li > a.active {
          background: #428bca; }
        body .content .panel.technician-content #tech-tabs.container-fluid .tab-header {
          display: inline-flex;
          flex-direction: row;
          width: 100%;
          position: relative;
          align-content: flex-start;
          flex-wrap: wrap; }
        body .content .panel.technician-content #tech-tabs.container-fluid .tab-content {
          color: white;
          background-color: #428bca;
          padding: 5px 15px; }
          body .content .panel.technician-content #tech-tabs.container-fluid .tab-content .tab-pane .panel.daily-tab-content {
            margin-bottom: 0px; }
            body .content .panel.technician-content #tech-tabs.container-fluid .tab-content .tab-pane .panel.daily-tab-content .sub-tabs .nav-pills > li > a.active {
              background: #428bca; }
            body .content .panel.technician-content #tech-tabs.container-fluid .tab-content .tab-pane .panel.daily-tab-content .sub-tabs.tab-content {
              color: black;
              background-color: white;
              padding: 5px 15px; }
          body .content .panel.technician-content #tech-tabs.container-fluid .tab-content .tab-pane .panel.weekly-tab-content {
            color: black;
            margin-bottom: 0px; }
            body .content .panel.technician-content #tech-tabs.container-fluid .tab-content .tab-pane .panel.weekly-tab-content .panel-body {
              padding: 5px 15px; }
          body .content .panel.technician-content #tech-tabs.container-fluid .tab-content .tab-pane .panel.stz-tab-content {
            color: black;
            margin-bottom: 0px; }
            body .content .panel.technician-content #tech-tabs.container-fluid .tab-content .tab-pane .panel.stz-tab-content .panel-body {
              padding: 5px 15px; }
  body .page-header {
    margin: 0px; }

/*# sourceMappingURL=data_entry.css.map */
