.form, .form-horizontal,
a.btn, button, input, input[type="submit"], input[type="text"], input[type="password"],
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span,
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle
.alert, .alert-warning, .btn, input, .btn-success, .btn-danger, .btn-info, .form-control, .panel, .list-group, .list-group-item,
.modal-content, .modal-header {
  border-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; }

a.btn, button, input, input[type="submit"], .btn, .btn-success, .btn-danger, .btn-info {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.bootstrap-dialog .modal-header.bootstrap-dialog-draggable {
  cursor: move; }

.sm-value {
  max-width: 50px; }

.table td {
  text-align: center; }

.modal-dialog {
  background: transparent; }

.panel-heading {
  color: white;
  background: transparent;
  padding: 5px; }
  .panel-heading h3 {
    margin-bottom: 10px;
    margin-top: 10px; }
  .panel-heading p {
    margin: 0px; }

.panel-body {
  padding: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.alert {
  margin: 0px; }

.inline-flex-item {
  margin-left: 5px;
  margin-right: 5px; }

.content {
  height: 100%; }

.center-content {
  transform: translate(-50%, -25%);
  position: absolute;
  top: 25%;
  left: 50%; }

.animated {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

* {
  -moz-animation-duration: 250ms;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms; }

.spinner {
  animation: rotator 1.4s linear infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@keyframes colors {
  0% {
    stroke: #18c52d; }
  25% {
    stroke: #FFF; }
  50% {
    stroke: #18c52d; }
  75% {
    stroke: #FFF; }
  100% {
    stroke: #18c52d; } }
@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }
.navbar {
  margin: 0px; }

body {
  width: 100%;
  height: 100%;
  background: url("/CourseProject/faces/javax.faces.resource/img/grey-prism.svg"); }
  body .content {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0px;
    text-align: center; }
    body .content .login-static.backdrop {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(#18c52d 0%, #12b323 100%);
      z-index: 0;
      opacity: 0.5;
      left: 0px;
      top: 0px;
      border-bottom: 2px groove #12b323; }
      body .content .login-static.backdrop .center-content {
        color: white;
        position: relative;
        max-width: 400px; }
  body .page-header {
    margin: 0px;
    border-bottom: 0px;
    color: white; }

/*# sourceMappingURL=login_static.css.map */
