@import 'all'; 

body, html{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-image: url("/CourseProject/faces/javax.faces.resource/img/debut-light.png");
	font-family: 'Lato';

	nav.navbar{
		margin: 0px;
	}
	
	.panel{
		border-radius: 0px;
		background: transparent;
	}

	.panel-body{
		padding: 5px;
		background: white;
	}

	.panel-heading{
		background: transparent;
		//text-align:center;
		color: white;
	}

	.content{
		background-color: #ffffff;
		background-image: url("/CourseProject/faces/javax.faces.resource/img/debut-light.png");
	}

	.footer{
		border-top: 0.5em ridge green;
		background-repeat:repeat;
		position: relative;
		bottom: 0px;
		height: 60px;
		width:100%;
		-webkit-box-shadow: inset 0px 17px 43px -11px rgba(10,10,10,0.75);
		-moz-box-shadow: inset 0px 17px 43px -11px rgba(10,10,10,0.75);
		box-shadow: inset 0px 17px 43px -11px rgba(10,10,10,0.75);
		background-image: url("/CourseProject/faces/javax.faces.resource/img/bg-footer-noise.jpg");
	}
}

